{%load static%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>adasa</title>
        <link rel="stylesheet" href="{% static 'css/booking.css' %}">
        
    </head>
    <body>
        <script>
            alert("successful");
        </script>
        <table class="table">
            <tr>
                <th>Book No.</th>
                <th>Name</th>
                <th>service</th>
                <th>Image</th>
                <th>date</th>
            </tr>
            {% for booking in booking %}
            <tr>
                <td>{{booking.client_name}}</td>
                <td> {{booking.notes}}</td>
            </tr>
            {% endfor %}
        </table>

    </body>
</html>